.animated--spinning {
  animation: rotation 1s linear infinite;
}

.flex-center {
  align-items: center;
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-l-12 {
  margin-left: 12px;
}
